text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.barchart .domain {
  display: none;
}

.barchart .axis-y g:nth-of-type(1) {
  opacity: 0 !important;
}

.title {
  font: 14px sans-serif;
  font-weight: bold;
}

/* Legend */

.barchart .legend {
  float: right;
  height: 100%;
  border-left: 1px dashed gray;
  width: 200px;  /*TMA from 100 to 200*/ 
  background-color: white;
  opacity: 0.9;
  padding: 5px;
}

.barchart .legend label {
  cursor: pointer;
}

.barchart .legend input {
  cursor: pointer;
}

.series div {
  cursor: pointer;
}

.options {
  padding: 5px 5px 5px 5px;
}

.options input {
  margin-left: 1px;
  margin-right: 5px;
}

.series {
  padding: 5px 5px 5px 5px;
}

.legend-series {
  height: 20px;
  display: block;
  overflow: visible;
}

.legend-box {
  float: left;
  display: inline-block;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  position: relative;
  top: -1px;
}

.legend-label {
  float: left;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 170px;            /*TMA from 70 to 170*/
  height: 15px;
}

.sidebar-title {
  display: block;
  font-weight: bold;
  margin-bottom: 7px;
}

/* Tooltip */

.barchart .tooltip {
  color: #000;
  background: #fff;
  border-radius: 4px;
  opacity: 0.8;
  padding: 4px;
  box-shadow: 0px 0px 2px 0px #666;
  position: absolute;
  z-index: 1000;
}

.barchart .tooltipkey {
  font: 12px sans-serif;
  color: steelblue;
  font-weight: bold;
  margin-left: 3px;
}

.barchart .tooltip table {
  text-align: left;
  font: 12px sans-serif;
  color: #000;
  margin-top: 10px;
}

.barchart .tooltip table td {
  padding-left: 10px;
}

.barchart .tooltip table th {
  margin-left: 3px;
  font-weight: bold;
}