/* Tooltip */

.ordinalbarchart .tooltip {
  color: #000;
  background: #fff;
  border-radius: 4px;
  opacity: 0.8;
  padding: 4px;
  box-shadow: 0px 0px 2px 0px #666;
  position: absolute;
  z-index: 1000;
}

.ordinalbarchart .tooltipkey {
  font: 12px sans-serif;
  color: steelblue;
  font-weight: bold;
  margin-left: 3px;
}

.ordinalbarchart .tooltip table {
  text-align: left;
  font: 12px sans-serif;
  color: #000;
  margin-top: 10px;
}

.ordinalbarchart .tooltip table td {
  padding-left: 10px;
}

.ordinalbarchart .tooltip table th {
  margin-left: 3px;
  font-weight: bold;
}

/* Title */
.ordinalbarchart .title {
  text-align: center;
  margin-top: 5px;
}

/* Bars */
.ordinalbarchart .chart {
  overflow: auto;
  padding: 10px;
  position: relative;
}

.ordinalbarchart .barline {
  margin-bottom: 1px;
  position: absolute;
  height: 15px;
}

.ordinalbarchart .bar {
  height: 15px;
  display: inline-block;
}

.ordinalbarchart .category {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;            /*TMA from 10 to 12*/
}

.ordinalbarchart .label {
  font-size: 12px;             /*TMA from 10 to 12*/
  font-weight: bold;
  color: white;
  z-index: 10;
  position: absolute;
  top: 1px;
}