<!-- FOOTER -->
<footer class="container-fluid">
<div class="b-main">

<!-- div class social -->
<div class="social">
<h3>Suivez-nous!</h3>

<ul class="social-icons">
  <li><a href="https://www.facebook.com/BelgianFederalPolice?ref=hl"><i class="fa fa-facebook"></i></a></li>
  <li><a href="https://twitter.com/FedPol_pers"><i class="fa fa-twitter"></i></a></li>
  <li><a href="http://instagram.com/federalepolitie"><i class="fa fa-instagram"></i></a></li>
  <li><a href="https://www.youtube.com/user/fedpolbelgium"><i class="fa fa-youtube"></i></a></li>
</ul>
</div>

<!-- div class help -->
<div class="help">
<h3>Besoin d'aide d'urgence?</h3>
<p>Appelez le 101 pour une assistance policière urgente</p>
</div><!-- end div class help -->

<div class="bottom">
<hr>
  <div class="copyright">
  <p>&copy; 2015 Police fédérale - <a href="#">Disclaimer</a></p>
  </div><!-- end div class copyright -->

  <div class="lang">
  <p>Choix des langues: <span><a href="{{ post.url | prepend: site.baseurl }}/criminaliteitsstatistieken">NL</a></span> <span><a href="{{ post.url | prepend: site.baseurl }}/statistiquescriminalite">FR</a></span></p>
  </div><!-- end div class lang -->

</div>

</div><!-- end div class b-main -->

</footer><!-- end div Footer-->

