<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->

<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	<ul class="nav navbar-nav">
        <li><a href="{{ site.baseurl }}/">Home</a></li> 
        <li><a href="{{ site.baseurl }}/statistiquescriminalite/interactif/">Interactif</a></li>
        <li><a href="{{ site.baseurl }}/statistiquescriminalite/rapports/">Rapports</a></li>
        <li><a href="{{ site.baseurl }}/assets/pdf/crimestat/docs/pdf-rapport_annuel_spc_2011.pdf" target="_blank">Rapport annuel 2011</a></li>
        <li><a href="{{ site.baseurl }}/assets/pdf/crimestat/docs/WAARSCHUWING_CRIM_CIJFERS.pdf" target="_blank">Avertissement</a></li>
      	</ul>

</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
