.carousel .carousel-control i { padding-top:100%}

.carousel .carousel-caption { margin:0;padding:1rem;position:absolute;right:0;left:10%;width:50%;bottom:20%;background:rgba($white,.4);}
.carousel .carousel-caption p, .carousel .carousel-caption h1 { color:$white; text-align: left;}


