<div class="content-split">
<ul>
<li><a href="#">Commissariaat-generaal</a>
    <ul>
    <li><a href="#">nav item 1</a></li>
    </ul>
    </li>
<li><a href="#">Bestuurlijke politie</a>
    <ul>
    <li><a href="#">nav item 1</a></li>
    </ul>
    </li>
<li><a href="#">Gerechtelijke politie</a>
    <ul>
    <li><a href="#">nav item 1</a></li>
    </ul>
    </li>
</ul>
</div>

<div class="content-split">
<ul>
<li><a href="#">Commissariaat-generaal</a>
    <ul>
    <li><a href="#">nav item 1</a></li>
    </ul>
    </li>
<li><a href="#">Bestuurlijke politie</a>
    <ul>
    <li><a href="#">nav item 1</a></li>
    </ul>
    </li>
<li><a href="#">Gerechtelijke politie</a>
    <ul>
    <li><a href="#">nav item 1</a></li>
    </ul>
    </li>
</ul>
</div>