    <h3>Nomenclatuur</h3>
<div class="content-split">

    
<ul>
<li><a href="{{ site.baseurl }}/assets/pdf/notas/verklarende_nota_2014_t3.pdf" target="_blank">Verklarende nota</a>
    </li>
<li><a href="{{ site.baseurl }}/assets/pdf/notas/lijst_afkort_maart_2014.pdf" target="_blank">Lijst van afkortingen</a>
    </li>

</ul>
</div>

<div class="content-split">
<ul>
<li><a href="{{ site.baseurl }}/assets/pdf/notas/pv_register_v32.00_okt_2014.pdf" target="_blank">P.V. register</a>
    </li>
<li><a href="{{ site.baseurl }}/assets/pdf/notas/beschrijving_nomenclatuur_okt_2014.pdf" target="_blank">Beschrijving nomenclatuur</a>
    </li>
<li><a href="{{ site.baseurl }}/assets/pdf/notas/definities_crim_fig_jan_2014.pdf" target="_blank">Definities criminele figuren</a>
    </li>
<li><a href="{{ site.baseurl }}/assets/pdf/notas/wijzig_qlf_versie_32.00_okt_2014.pdf" target="_blank">Wijzigingen nomenclatuur</a>
    </li>

</ul>
</div>