<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Overzicht <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ site.baseurl }}/criminaliteitsstatistieken/interactief/overzicht-per-criminele-figuur/">Per criminele figuur</a></li>
    <li><a href="{{ site.baseurl }}/criminaliteitsstatistieken/interactief/overzicht-per-politiezone/">Per politiezone</a></li>
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Tabel <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ site.baseurl }}/criminaliteitsstatistieken/interactief/tabel-per-criminele-figuur/">Per criminele figuur</a></li>
    <li><a href="{{ site.baseurl }}/criminaliteitsstatistieken/interactief/tabel-per-hoofdcategorie-misdrijven/">Per hoofdcategorie misdrijven (top 5)</a></li>
    <li><a href="{{ site.baseurl }}/criminaliteitsstatistieken/interactief/tabel-per-politiezone/">Per politiezone</a></li>
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Grafiek <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ site.baseurl }}/criminaliteitsstatistieken/interactief/grafiek-tijdslijn-criminele-figuren/">Tijdslijn criminele figuren</a></li>
    <li><a href="{{ site.baseurl }}/criminaliteitsstatistieken/interactief/grafiek-histogram-hoofdcategorie-misdrijven/">Histogram hoofdcategorie misdrijven (top 5)</a></li>
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Kaart<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ site.baseurl }}/criminaliteitsstatistieken/interactief/kaart-autodiefstal/">Autodiefstal</a></li>
    <li><a href="{{ site.baseurl }}/criminaliteitsstatistieken/interactief/kaart-diefstal-uit-of-aan-voertuig/">Diefstal uit of aan voertuig</a></li>
    <li><a href="{{ site.baseurl }}/criminaliteitsstatistieken/interactief/kaart-woninginbraak/">Woninginbraak (strict)</a></li>
    <li><a href="{{ site.baseurl }}/criminaliteitsstatistieken/interactief/kaart-intrafamiliaal-geweld/">Intrafamilaal geweld</a></li>
  </ul>
</div>