<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Aperçu<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ site.baseurl }}/statistiquescriminalite/interactif/apercu-par-figure-criminelle/">Par figure criminelle</a></li>
    <li><a href="{{ site.baseurl }}/statistiquescriminalite/interactif/apercu-par-zone-de-police/">Par zone de police</a></li>
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Tableau <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ site.baseurl }}/statistiquescriminalite/interactif/tableau-par-figure-criminelle/">Par figure criminelle</a></li>
    <li><a href="{{ site.baseurl }}/statistiquescriminalite/interactif/tableau-par-categorie-principales-des-infractions/">Par catégories principales des infractions (top 5)</a></li>
    <li><a href="{{ site.baseurl }}/statistiquescriminalite/interactif/tableau-par-zone-de-police/">Par zone de police</a></li>
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Graphique<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ site.baseurl }}/statistiquescriminalite/interactif/graphique-ligne-de-temps-par-figure-criminelle/">Ligne de temps figure criminelle</a></li>
    <li><a href="{{ site.baseurl }}/statistiquescriminalite/interactif/graphique-par-categorie-principales-des-infractions/">Histogramme catégories principales des infractions (top 5)</a></li>
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Carte<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ site.baseurl }}/statistiquescriminalite/interactif/carte-vol-de-voiture/">Vol de voiture</a></li>
    <li><a href="{{ site.baseurl }}/statistiquescriminalite/interactif/carte-vol-dans-ou-sur-un-vehicule/">Vol dans ou sur un véhicule</a></li>
    <li><a href="{{ site.baseurl }}/statistiquescriminalite/interactif/carte-cambriolage-dans-habitation/">Cambriolage dans habitation (strict)</a></li>
    <li><a href="{{ site.baseurl }}/statistiquescriminalite/interactif/carte-violence-intra-familiale/">Violence intrafamiliale</a></li>
  </ul>
</div>